<div class="popup_dim">
    <div class="popup popup_full popup_error _popup_delete">
        <div class="popup_contents">
            <p class="">최근 검색 학교를<br>모두 삭제하시겠습니까?</p>
        </div>
        <div class="popup_footer">
            <div class="btn_group">
                <button class="btn btn_popup _btnCancel">취소</button>
                <button class="btn btn_popup btn_orange _btnConfirm">확인</button>
            </div>
        </div>
    </div>
</div>