<div id="airReportTabs" style="height: 78px;position: absolute;top:50px;left:0;width: 100%"></div>
<div id="airReportIcon" style="height: 80px;position: absolute;top:128px;left:0;width: 100%"></div>
<div id="airReportTabsContents" style="height:100%;"></div>
<div class="box_bottom_nav">
    <a href="#" class="btn_back _yesterday">
        <i class="sprite sprite_common sprite_back"></i>
    </a>
    <span>오늘</span>

    <a href="#" class="btn_foward _tomorrow">
        <i class="sprite sprite_common sprite_foward"></i>
    </a>

</div>