<div class="box_score">
    <p class="score_title"></p>
    <p class="score_desc"><span class="{{averageGradeCheck averageGrade}}">{{averageCheck averagePoint}}</span>{{total}}
    </p>
</div>
<div class="box_chart">
    <!--<img src="../images/@temp_air_report_graph2.png" alt="">-->
</div>
